/***Importation***/

@import "./partials/variables";
@import "./partials/menu";
@import "./partials/header-footer";
@import "./partials/accueil";


/***Générale***/

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

main {
    background-color: $Background;
    display: flex;
    flex-direction: column;
}


/***Media queries***/

@import "./partials/mediaqueries";