@charset "UTF-8";
/***Importation***/
/***Couleur***/
/***Ombres***/
/***Fonction j'aime***/
.jaime {
  display: none;
}
.jaime__coeur {
  opacity: 1;
  transition: opacity 400ms;
}
.jaime__coeur-rose {
  opacity: 0;
  background: linear-gradient(187deg, rgb(147, 86, 220) 10%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: opacity 400ms;
}
.jaime:checked ~ .label .jaime__coeur {
  opacity: 0;
}
.jaime:checked ~ .label .jaime__coeur-rose {
  opacity: 1;
}

/***CTA***/
.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  margin: 27px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.CTA:hover::after {
  opacity: 0.15;
}
.CTA::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease-out;
}

/******Page des menus******/
.menu {
  max-width: 100%;
  width: 100%;
  background-color: #F6F6F6;
  padding: 1px 13px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  position: relative;
  top: -32px;
  overflow: hidden;
}
.menu__coeurs {
  position: absolute;
  top: 32px;
  right: 35px;
  font-size: 28px;
}
.menu h1 {
  font-size: 28px;
  margin-top: 32px;
  margin-left: 4px;
  margin-bottom: -10px;
  font-family: "Shrikhand", cursive;
}
.menu h2 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 18px;
}
.menu h2 span {
  padding-bottom: 4px;
  border-bottom: 2px solid #99E2D0;
}
.menu li {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-radius: 15px;
  background-color: white;
  margin-top: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 14px 15px;
  box-sizing: border-box;
}
.menu li h3 {
  font-size: 1.125em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.menu li h3 span {
  font-weight: 100;
  font-size: 0.94em;
}
.menu li b {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  padding: 3px;
}

.cta__centrer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -32px;
  bottom: -25px;
}

/***Header***/
header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 14px 0;
}

.header__retour {
  z-index: 2;
  position: absolute;
  top: 17px;
  left: 17px;
  font-size: 20px;
  font-weight: bolder;
}
.header__img {
  height: 275px;
  object-fit: cover;
  width: 100%;
}

/***Footer***/
footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 8px 25px;
  box-sizing: border-box;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 100;
}
footer ul {
  display: flex;
  flex-direction: column;
}
footer li {
  list-style-type: none;
  margin-bottom: 7px;
}
footer a {
  color: white;
  font-size: 16px;
  font-weight: 300;
}
footer i {
  margin-right: 11px;
}

/******Page d'accueil******/
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
form input {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  margin: 16px 0;
  text-align: center;
}
form input::placeholder {
  color: black;
}

/***Section Hero***/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}
.hero h1 {
  margin-bottom: 10px;
}
.hero p {
  font-weight: 300;
  margin: 0;
}

.etape {
  background-color: white;
}
.etape li {
  display: flex;
  align-items: center;
  margin: 24px 0;
}
.etape p {
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 12px;
}
.etape h3 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-size: 16px;
  height: 72px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin: 0;
}
.etape i {
  font-size: 20px;
  color: #7E7E7E;
}
.etape .--irose {
  color: #9356DC;
}

/***Section restaurants***/
.carte {
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 18px 0px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.carte a {
  width: 100%;
}
.carte--nouveau {
  background-color: #99E2D0;
  color: #008766;
  padding: 6px 9px;
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
}
.carte img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.carte h3 {
  display: flex;
  flex-direction: column;
  padding: 13px;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.carte span {
  margin-top: 8px;
  font-weight: 100;
}
.carte__coeurs {
  font-size: 21px;
  position: absolute;
  bottom: 30px;
  right: 25px;
}

/***Générale***/
* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 17px;
  width: 100%;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

/***Media queries et animation***/
/*** Media queries ***/
@media (min-width: 768px) {
  .header__logo {
    height: 96px;
    padding: 0;
  }
  h1 {
    font-size: 40px;
  }
  .hero__paragraphe {
    font-size: 18px;
  }
  .CTA {
    margin-bottom: 0;
  }
  .etape ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .etape li {
    width: 33%;
  }
  #cartesDesRestaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .carte {
    width: 45.37%;
    margin-top: 28px;
    margin-bottom: 22px;
  }
  footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  footer h2 {
    margin-bottom: 26px;
  }
  footer a {
    margin: 0 10px;
  }
}
@media (min-width: 1024px) {
  .etape {
    display: flex;
    justify-content: center;
  }
  .restaurants, .etape--media {
    width: 100%;
    max-width: 1024px;
  }
}
/******Animations******/
/***Loader***/
.acceuil {
  opacity: 0;
  animation: fadeIn 5s 2s ease forwards;
}

.loader {
  display: flex;
  justify-content: center;
  width: 100%;
  -webkit-perspective: 700px;
  perspective: 700px;
  position: absolute;
  top: 50%;
  opacity: 1;
  animation: fadeOut 5s ease forwards;
}

.loader.hidden {
  opacity: 0;
}

.loader > span {
  font-size: 70px;
  display: inline-block;
  animation: flip 2.6s 2 linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  font-family: "Shrikhand", cursive;
}

.loader > span:nth-child(2) {
  animation-delay: 0.3s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.6s;
}

.loader > span:nth-child(4) {
  animation-delay: 0.9s;
}

.loader > span:nth-child(5) {
  animation-delay: 1.2s;
}

.loader > span:nth-child(6) {
  animation-delay: 1.5s;
}

.loader > span:nth-child(7) {
  animation-delay: 1.8s;
}

.loader > span:nth-child(8) {
  animation-delay: 2.1s;
}

/***Keyframes loader***/
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}
/******Page Menu******/
/***arrivé des produits***/
.menu li {
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 10s ease-in-out, opacity 10s ease-in-out;
}
.menu li:nth-child(1) {
  animation: showRectangles 2s 0s forwards;
}
.menu li:nth-child(2) {
  animation: showRectangles 2s 0.2s forwards;
}
.menu li:nth-child(3) {
  animation: showRectangles 2s 0.3s forwards;
}
.menu li:nth-child(4) {
  animation: showRectangles 2s 0.6s forwards;
}
.menu li:nth-child(5) {
  animation: showRectangles 2s 0.8s forwards;
}

/***Keyframes Arriver des produits***/
@keyframes showRectangles {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/***Prix checked***/
.check {
  background-color: #99E2D0;
  height: 69px;
  margin: -14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  position: relative;
  right: -22px;
  transition: all 0.7s ease-in-out;
}

.menu li:hover .check {
  flex: 0.25;
}

/*# sourceMappingURL=style.css.map */
