/***Header***/

header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $Badge-shadow;
    padding: 14px 0;
}


.header {

    &__retour {
        z-index: 2;
        position: absolute;
        top: 17px;
        left: 17px;
        font-size: 20px;
        font-weight: bolder;
    }

    &__img {
        height: 275px;
        object-fit: cover;
        width: 100%;
    }

}


/***Footer***/

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px 25px;
    box-sizing: border-box;

    & h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        font-weight: 100;
    }

    & ul {
        display: flex;
        flex-direction: column;
    }

    & li {
        list-style-type: none;
        margin-bottom: 7px;
    }

    & a {
        color: white;
        font-size: 16px;
        font-weight: 300;
    }

    & i {
        margin-right: 11px;
    }
}