/*** Media queries ***/

@media (min-width: 768px) {

    .header__logo {
        height: 96px;
        padding: 0;
    }

    h1 {
        font-size: 40px;
    }

    .hero {
        & p {
            font-size: 18px;
        }
        
        .CTA {
            margin-bottom: 0;
        }
    }

    .etape {

        & ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & li {
            width: 33%;
        }
    }

    #cartesDesRestaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .carte {
        width: 45.37%;
        margin-top: 28px;
        margin-bottom: 22px;
    }

    footer {
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        align-items: end;

        & ul {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
        }

        & h2 {
            margin-bottom: 26px;
        }

        & a {
            margin: 0 10px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        & h1 {
            text-align: center;
        }
        & ul {
            width: 100%;
            max-width: 634px;
        }
    }
    .main-menus { 
        background-color: white;
    }
}




@media (min-width: 1024px) {

    .etape {
        display: flex;
        justify-content: center;
    }

    .restaurants, .etape--media, .menu {
        width: 100%;
        max-width: 1024px;
    }
}