/******Page des menus******/

.menu {
    max-width: 100%;
    width: 100%;
    background-color: $Background;
    padding: 1px 13px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    position: relative;
    top: -32px;

    &__coeurs {
        position: absolute;
        top: 32px;
        right: 35px;
        font-size: 28px;
    }

    & h1 {
        font-size: 28px;
        margin-top: 32px;
        margin-left: 4px;
        margin-bottom: -10px;
        font-family: 'Shrikhand', cursive;
    }

    & h2 {
        font-size: 16px;
        font-weight: 300;
        margin-top: 40px;
        margin-bottom: 18px;

        & span {
            padding-bottom: 4px;
            border-bottom: 2px solid $Green;
        }
    }


    & li {
        display: flex;
        justify-content: space-between;
        height: 69px;
        border-radius: 15px;
        background-color: white;
        margin-top: 12px;
        box-shadow: $Card-shadow;
        padding: 14px 15px;
        box-sizing: border-box;

        & h3 {
            font-size: 1.125em;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & span {
                font-weight: 100;
                font-size: 0.94em;
            }
        }

        & b {
            display: flex;
            flex-wrap: wrap;
            align-content: end;
            padding: 3px;
        }
    }
}


.cta__centrer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -32px;
    bottom: -25px;
}