/***Couleur***/

$Background : #F6F6F6 ;
$Secondary : #FCA311; 
$Primary : #9356DC ;
$Green : #99E2D0 ;
$Green-Font : #008766;
$Grey : #353535;
$Like-gradient:linear-gradient(187deg, rgba(147,86,220,1) 10%, rgba(255,121,218,1) 100%);
$Grey-second : #EAEAEA ;
$Primary-second : #F5EDFF;
$Grey-Tint4 : #7E7E7E;
$Button-gradient: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);


/***Ombres***/

$Badge-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
$Card-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
$Button-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$Instruction-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);