/***Couleur***/

$Background : #F6F6F6 ;
$Secondary : #FCA311; 
$Primary : #9356DC ;
$Green : #99E2D0 ;
$Green-Font : #008766;
$Grey : #353535;
$Like-gradient:linear-gradient(187deg, rgba(147,86,220,1) 10%, rgba(255,121,218,1) 100%);
$Grey-second : #EAEAEA ;
$Primary-second : #F5EDFF;
$Grey-Tint4 : #7E7E7E;
$Button-gradient: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);


/***Ombres***/

$Badge-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
$Card-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
$Button-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$Instruction-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

/***Fonction j'aime***/

.jaime {
    display: none;

    &__coeur {
        opacity: 1;
        transition: opacity 400ms;
    }

    &__coeur-rose {
        opacity: 0;
        background: $Like-gradient;
        ;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition: opacity 400ms;
    }

    &:checked~.label .jaime__coeur {
        opacity: 0;
    }

    &:checked~.label .jaime__coeur-rose {
        opacity: 1;
    }
}

/***CTA***/


.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $Button-gradient;
    color: white;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    margin: 27px;
    box-shadow: $Button-shadow;
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 0.15;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 25px;
        background-color: #ffffff;
        box-shadow: $Button-shadow;
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms ease-out;
    }
}